html {
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    font-family: Rockwell, sans-serif;
    box-sizing: border-box;
  }
  
  .gohomebutton {border: 0;
    margin: 80px 0 0 20px;
    width: 60px;
    }
    
    .gohome {width: 80px;
      font-size: 20px;
      background-color: black;
      color: white;
      border-radius: 5px;
      border: 2px solid purple
    }

  body {
    padding: 0;
    margin: 0;
    display: block;
  }
  
  #page-wrap{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
  }
  
  header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0px;
    background-color: #ddd;
  }
  
  #header-img {
    width: 50px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  header h2 {
    font-family: 'Apple Chancery', sans-serif;
    padding-right: 0;
    font-weight: 500;
    font-style: italic;
    font-size: 1.8rem;
    flex:1;
    justify-content: flex-start;
  }
  
  .nav-bar {
    display: flex;
    gap: 30px;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin-right: 15px;
  }
  
  a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #565656
  }
  
  #return {
    width: 100vw;
    height: 60px;
  }
  
  .top {
    display: flex;
      margin-top: 3px;
      width: 100vw;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  }
  form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    align-items: center;
  }
  
  #email {
    width: 300px;
    height: 25px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: gray;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
  }
  
  ::placeholder {
    color: white;
    opacity: 1;
  }
  
  input:focus::placeholder {
    color: transparent;
  }
  
  #email:focus {
    outline-width: 4px ;
  
  }
  
  input[type=submit] {
      padding:5px 15px; 
      background:#ccc; 
      border:0 none;
      cursor:pointer;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      font-weight: 700;
      font-size: 0.8rem; 
      margin-bottom: 50px;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    margin: 0;
    padding: 0;
  }
  
  .description {
    width: 500px;
  }
  
  .icon {
    display: flex;
    align-items: left;
    width: 100px;
  }
  
  .grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0;
    padding: 0;
    width: 700px;
  }
  
  i {
    font-size: 3rem;
  }
  
  
  .bottom {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
    height: auto;
    overflow: scroll;
  }
  
  .funds {
    display: block;
    margin: auto;
    max-width: 600px;
    font-size: .8rem;
  }
  
  .product {
    border: 1px solid black;
    flex: 1;
    min-width: 300px;
    max-width: 310px;
    text-align: center;
    max-height: 400px;
  }
  
  .product-title {
    font-size: 1.3rem;
    padding: 10px;
    padding-top: 15px;
    background-color:#ddd;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h4 {
    font-size: 1.2rem;
  }
  
  .product p {
    text-align: left;
    padding: 20px;
  }
  
  .product ul {
    text-align: left;
    padding: auto;
  }
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd
  }
  
  
  
  @media screen and (max-width: 935px) { header h2 {
    font-family: 'Apple Chancery', sans-serif;
    padding-right: 0;
    font-weight: 500;
    font-style: italic;
    font-size: 1.5rem;
    flex:1;
    justify-content: flex-start;
  }

  .nav-link{
  font-size: 1.3rem;
  }
  
  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    gap: 20px;
    height: auto;
  }
}
  
  @media screen and (max-width: 835px) {header h2 {
    font-family: 'Apple Chancery', sans-serif;
    padding-right: 0;
    font-weight: 500;
    font-style: italic;
    font-size: 1rem;
    flex:1;
    justify-content: flex-start;
  }
  .nav-link{
  font-size: 1.2rem;
  }
  }
  
  @media screen and (max-width: 715px) {header h2 {
    font-family: 'Apple Chancery', sans-serif;
    padding-right: 0;
    font-weight: 500;
    font-style: italic;
    font-size: 0.5rem;
    flex:1;
    justify-content: flex-start;
  }
  header h2 {
    font-family: 'Apple Chancery', sans-serif;
    padding-right: 0;
    font-weight: 500;
    font-style: italic;
    font-size: 0.5rem;
    flex:1;
    justify-content: flex-start;
  }
  header{
  position: relative;
  } 
  .nav-link{
  font-size: 1rem;
  }
  .grid {
    flex-direction: column;
  }

  .gohomebutton {
    position: relative;
    margin-top: 0px;
  }
  
  }