:root {
    --my-gradient: linear-gradient(to right, #765D23,#D6C591, #654D21);
    --background-color1: linear-gradient(to right, #2c230c,#372b2b, #2a2a28);
}

.gohomebutton {border: 0;
    margin: 5px 0 0 20px;
    width: 60px;
    }
    
    .gohome {width: 80px;
        font-size: 20px;
        background-color: black;
        color: white;
        border-radius: 5px;
        border: 2px solid purple
    }

    html {
        font-size: 10px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    body {
        display:flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
    }

    header {
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2.0rem;
        margin: 0;
        max-height: 200px;
    }

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:visited {
    color: white;
}

#header-link {
    font-size: 3rem;
    display: flex;
    justify-content: right;
    gap: 50px;
    margin: auto;
    padding: 10px;
    margin-right: 0;
    width: auto;
    list-style-type: none;
    
}

nav {
     background: var(--background-color1);
     width: 100%;
}

main {
    flex: 1;
    height: 100vh;
    margin: 0;
    width: auto;
    padding: 20px;
    font-size: 1.5rem;
}

footer{
    flex: 1;
    width: auto;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    max-height: 50px;
    background: var(--background-color1);
    color: white;
}

.header {
    color: white;

    background: var(--my-gradient, gold);
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
    letter-spacing: 1px;;
}

