:root {
    --my-gradient: linear-gradient(to right, #765D23,#D6C591, #654D21);
    --background-color1: linear-gradient(to right, #2c230c,#372b2b, #2a2a28);
}

.gohomebutton {border: 0;
    margin: 5px 0 0 20px;
    width: 60px;
    }
    
    .gohome {width: 80px;
        font-size: 20px;
        background-color: black;
        color: white;
        border-radius: 5px;
        border: 2px solid purple
    }

    html {
        margin: 0;
        font-size: 10px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    body {
        display:flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
    }

header {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
    margin: 0;
    max-height: 200px;
    color: white;
    background: var(--my-gradient, gold);
    width: 100%;
    text-align: center;
    padding: 0;
    letter-spacing: 1px;;
    }

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:visited {
    color: white;
}

#header-link {
    font-size: 3rem;
    display: flex;
    justify-content: right;
    gap: 50px;
    margin: auto;
    padding: 10px;
    margin-right: 0;
    width: auto;
    list-style-type: none;
    
}

nav {
     background: var(--background-color1);
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}

main {
    flex: 1;
    height: 100vh;
    margin: 0;
    width: auto;
    padding: 20px;
    font-size: 1.5rem;
}

footer{
    flex: 1;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    max-height: 50px;
    background: var(--background-color1);
    color: white;
    gap: 30px;
}
.social-icons {
    color: linen;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    gap: 20px;
    margin-left: 25px;
    font-size: 30px;
    }

  .social-icons a {
    text-decoration: none;
    color: linen;
    
  }

  .social-icons a:visited {
    color: linen;
  }

.logo {
    position: absolute;
    width: 75px;
    height: auto;
    margin: auto;
    left: 8px;
    top: 4px
}

h2 {
    text-align: center;
    font-size: 3rem;
}

.contactList {
    font-size: 2rem;
    width: 600px;
    height: 300px;
    display: flex;
    margin: auto;

}

.contactList ul {
    width: 550px;
}

.contactList li {
    padding-top: 15px;
}

.contactList span {
justify-content: flex-end;
align-items: flex-end;
float: right;
}

/*only project boxes  below */


.all-projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
       gap: 30px;
}

.ind-projects {
    border: 1px solid black;
    max-width: 300px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
}

.project-title {
    text-align: center;
    background:  var(--my-gradient);
    align-self: flex-start;
    width: 100%;
    font-family:'Times New Roman', Times, serif;
    color: black;
    margin: 0;
    border-radius: 8px 8px 0 0;
}

.project-title a {
    text-decoration: none;
    color: black;
}

.project-title a:visited {
    color: black;
}

.ind-projects p {
    padding: 15px;
    margin: 0;
    font-weight: 500;
    font-size: 1.7rem;
    flex: 1;
}

.ind-projects .project-focus p {
    font-weight: 600;
    flex: 1;
    margin: 0;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: auto;
    flex: 1;
}
.icons i{
    font-size: 4rem;
}


.html-icon, .css-icon, .js-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 2px;

}

.ind-projects .icons p {
    padding: 0;
}