html {
    height: 100vh;
}

body{background-color: lightblue;
font-family: sans-serif;
font-size: 22px;
margin: 30px;
height: auto;
}

.topPhoto { 
    margin: auto;
    display: block;
    height: 300px;
    width: auto;
}

.return {
    text-decoration: none;
    color: red;
    text-align: center;
    margin: 10%;
    width: 100vw; 
    height:auto;
}

.return:visited {
    color: red;
}

.main {
    display: flex;
flex-direction: row-reverse;
height: 95vw;
}

h1 {text-align: center;
color: rgb(88, 87, 87);
font-size: 46px;}

.steps, .ingredients {font-weight: 800;}

p {font-weight: 800;}

.list {font-weight: 100;}



.small-pic{
    height: 100px;
    width: auto;
    margin-right: 50px;
    flex: 0 0 auto;
}

.main-list {list-style-type: none;}

footer {
    position: relative;
text-align: center;
height:auto;
background-color: white;
width: 100vw;
margin-left: -30px;

}

.footer{font-size:14px; }

.return {font-size: 16px;}

.gohomebutton {border: 0;
    margin: 5px 0 0 20px;
    width: 60px;
    }
    
    .gohome {width: 80px;
        font-size: 20px;
        background-color: black;
        color: white;
        border-radius: 5px;
        border: 2px solid purple;
        text-align: center;
    }

    li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        gap: 20px;
        height: 180px;
    }


.list {
    height: 35px;
    margin-top: 5px;
}

    .main-list a {
        text-decoration: none;
        color: black;
        font-size: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 500px;
        align-items: flex-start;
        justify-content: flex-start;
    }

    a:visited {
        color: black;
    }

    /* chef animation below */

    .cook {
        width: 300px;
        height: 500px;
        margin: auto;
        margin-top: 0;
        z-index: 4;
        position: relative;

    }

    .cook * {
        position: absolute;
    }

.hat {
    width: 40%;
    height: 30%;
    
    left: 28%;
}
   
.hat .topleft {
    border-radius: 50%;

    left: -5%;
    background: white;
    z-index: 2;
}

.hat .topright{
    border-radius: 50%;

    left: 67%;
    background: white;
    z-index: 2;
}

.hat .topmiddle {
    border-radius: 50%;

    left: 30%;
    background: white;
    z-index: 2;
}

.hat .body {
    border-radius: 0% 0% 10% 10%;

    left: 0%;
    height: 80%;
    background: white;
    top: 20%;
    width: 100%;
    z-index: 3;
    border-top: transparent;
}

.head {
    width: 40%;
    height: 30%;
    background: #F1C27D;
    border-radius: 70% 70% 65% 65%;
    top: 22%;
    left: 28%;
    z-index: 1;
}

    .eye {
        width: 15%;
        height: 15%;
        background-color: black;
        top: 35%;
        border-radius: 50%;
      }
      
      .eye.left {
        left: 25%;
      }
      
      .eye.right {
        right: 25%;
      }

    .nose {
        width: 15%;
        height: 15%;
        background-color: #dbb172;
        top: 52%;
        border-radius: 50%;
        left: 42%;
    }

    .mouth {
        width: 45%;
        height: 15%;
        background-color: rgb(248, 166, 197);
        top: 70%;
        border-radius: 50%;
        left: 25%;
    }

    .smile {
        width: 150%;
        height: 100%;
        background-color: #F1C27D;
        bottom: 25%;
        left: -23%;
        border-radius: 50%;
    }

    .body {
        background-color: white;
        width: 40%;
        height: 30%;
        top: 50%;
        left: 28%;
        border-radius: 20%;
    }

    .arms {
        background-color: white;
        width: 50%;
        height: 90%;
        top: 0%;
        border-radius: 10%;
    }

    .arms .left {
        left: -45%;
        transform: rotate(25deg);
        animation: 4s linear infinite cook;
    }

    .arms .right {
        left: 185%;
        transform: rotate(-30deg);
    }

    .hand {
        width:100%;
        height: 30%;
        background-color: #F1C27D;
        border-radius: 50%;
        top: 100%;
        z-index: 5;
    }

    .pan {
        background-color: silver;
        border: 1px solid gray;
        border-radius: 20%;
        transform: rotate(60deg);
        z-index: 1;
    }

    .pan.handle {
        width: 70%;
        height: 300%;
        left: -90%;
        top: -30%;
        z-index: 3;
    }

    .pan.body {
        width:200%;
        height: 180%;
        transform: rotate(0deg);
        top: 90%;
        left: -8%;
        transform-style: preserve-3d;

    }

    #food  {
        background-color: rgb(24, 107, 11);
        height: 30%;
        width: 100%;
        border-radius: 50% 70% 20% 50%;
        transform: translateZ(-10px);
        animation: 4s linear infinite fly;
    }

    .food.one {
        top: 60%;
    }

    .food.two {
        top: 30%;
    }

    .food.three {
        top: 3%;
    }

    @keyframes cook {
        10% {
          transform: rotate(35deg) scaleX(1);
        }
        20% {
          transform: rotate(55deg) scaleX(1);
        }
        30% {
          transform: rotate(35deg) scaleX(1);
        }
        40% {
          transform: rotate(deg) scaleX(1);
        }
      }

      @keyframes fly {
        10% {
          left: 0%;
        }
        20% {
          left: -100%;
        }
        30% {
          left: -250%;
        
        }
        40% {
          left: -35%;
        }

        50% {
            left: 0%;
        }

        60% {
            left: 0%;
        }
      }

      /* counter */

.countertop {
    width: 110%;
    height: 10%;
    background-color: rgb(63, 29, 8);
    top: 80%;
    left: -5%;
}
.counter {
    height: 15%;
    width: 100%;
    background-color: rgb(134, 65, 23);
    top: 90%;
}