.mainBody {
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh
}

.video-responsive {
  overflow: hidden;
  position: relative;
  height: 0;
  margin:auto;
  width: 500px;
}



