.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
}

.navLink {
  text-decoration: none;
  font-size: 22px;
  color: rgb(192, 188, 188)
}

.nacLangButtonsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLangButtons {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: rgb(192, 188, 188);
  color: black;
  border: 2px solid #15096f;
  height: 38px;
  width: 120px;
  border-radius: 8px;
  padding: 0;
}

.musicBtn {
  text-align: center;
  background: initial;
  border: initial;
  font-size: 25px;
  cursor: pointer;
  color: rgb(192, 188, 188);
  padding: 2px;
  margin-left: 6px;
}

.mainBody {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.pageOne {
  background-image: url(../photos/tenSuns.jpeg);
}

.welcomePage {
  background-image: url(../photos/welcomePage.webp);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.pageTwo {
  background-image: url(../photos/HouYi.jpeg);
}

.pageThree {
  background-image: url(../photos/elixer.jpeg);
}

.pageFour {
  background-image: url(../photos/moon.jpeg);
}

.pageFive {
  background-image: url(../photos/changE.webp);
}

.pageSix {
  background-image: url(../photos/happy.jpeg);
}

h1 {
  position: relative;
  padding: 5px;
  border-radius: 10px;
  width: fit-content;
  margin: auto;
  font-size: 60px;
}

.welcomeH1 {
  color: white;
  background-color: rgb(5, 5, 105);
    margin: 0px;
  margin-top: 50px;
}

.button {
  position: fixed;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.welcomeBtn {
  background-color: orange;
  top: 40%;
  left: 10%;
}

.button button {
  background: initial;
  border: initial;
  font-size: 25px;
  cursor: pointer;
}
