body {
  margin: 0;
  padding: 0;
}

.headerDiv {
  display: flex;
  gap: 20px;
  background-color: gray;
  height: 30px;
  padding: 0 15px 0 15px;
  align-items: center;
  width: 100vw;
  justify-content: flex-start;
}

.clock {
  justify-self: flex-end;
  margin-left: auto;
  padding-right: 45px;
  padding-left: 0;
}

.dropdown {
  position: relative;
}

.menu {
  position: absolute;
  top: 19px;
  list-style-type: none;
  margin: 5px 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0;
  width: max-content;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  padding: 0 5px 10px 5px;

}

.menuItem {
  margin-top: 15px;
}