#pageContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#userInputSection {
    background-color: gray;
    width: 300px;
    height: 400px;
    margin: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.slidecontainer {
    width: 100%;
    margin: 0;
    display: flex;
    height: 100px;
    flex-direction: column;
    justify-content: center;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    margin: auto;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
    border-radius: 50%;
}

#etchOutline {
    background-color: rgb(232, 65, 65);
    width: 600px;
    height: 600px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#etchContainer {
    background-color: gray;
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}
/*Grid workings */
.grid {
    margin: 0;
    border: 0;

    background-color: aliceblue;
    flex: 1 1 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.gridColumn {
    flex: 1 1 0px;
    width: 100%;
}

/*.gridColumn:hover, .grid:hover {
    background-color: black;
}
*/

body {
    background-color: rgb(14, 11, 11);
}